h1 {
  margin: 3em 0 2em 0;
  text-align: center;
  color: inherit;
  font-weight: 300;
}

h3 {
  color: $primary-color;
}

[class*="icon-"] {
  display: block;
  background-size: 100%;
  width: 3em;
  height: 3em;
  text-align: center;
  margin: 0 auto;
}

.icon-48-text {
  width: 48px;
  float: left;
  height: 48px;
  margin: 0 .3em;
}

.icon-achim-galeski_logo {
  width: 48px;
  height: 48px;
  background-size: 48px;
}

.icon-achim-galeski_profil_400 {
  width: 100%;
  height: auto;
}

.icon-horizon_cyan {
  width: auto;
  height: auto;
  text-align: inherit;
}

a, a:link, a:visited {
  color: inherit;
  -webkit-transform: translateZ(0) scale(1);
  -moz-transform: translateZ(0) scale(1);
  -ms-transform: translateZ(0) scale(1);
  -o-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover, a:focus, a:active {
  /*  #frame-top & {
      -webkit-transform: translateZ(0) scale(1.2);
      -moz-transform: translateZ(0) scale(1.2);
      -ms-transform: translateZ(0) scale(1.2);
      -o-transform: translateZ(0) scale(1.2);
      transform: translateZ(0) scale(1.2);
    }*/
  color: $secondary-color;
  -webkit-transform: translateZ(0) scale(1.2);
  -moz-transform: translateZ(0) scale(1.2);
  -ms-transform: translateZ(0) scale(1.2);
  -o-transform: translateZ(0) scale(1.2);
  transform: translateZ(0) scale(1.2);
}

a.button {
  color: $white;
  background-color: $primary-color;
  -webkit-transform: translateZ(0) scale(1);
  -moz-transform: translateZ(0) scale(1);
  -ms-transform: translateZ(0) scale(1);
  -o-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  &:hover, &:focus, &:active {
    color: $secondary-color;
    background-color: $white;
  }
}

body {
  //background-color: $primary-color;
  & > .row {
    position: relative;
    z-index: 0;
    background-color: $white;
    &.bg-primary {
      background-color: $primary-color;
    }
  }
}

//#menu {
//  border-bottom: 1px solid $medium-gray;
//  padding-bottom: 1em;
//  padding-top: 1em;
//}

/*#banner {
  position: fixed;
  top: 0;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  background-color: $primary-color;
  //background-image: url(../images/horizon_cyan.png);
  background-position: 42% 50%;
  background-size: auto 1200px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50% 2em 1em;
  @include breakpoint(medium) {
    height: 400px;
    background-position: 50%;
    padding: 4.5em 2em 1em;
  }
  @include breakpoint(large) {
    padding: 6em 2em 1em;
  }
  h1 {
    margin: 0.1em 1em;
    color: $primary-color;
    font-weight: 400;
  }
  .button {
    color:inherit;
    background-color: $primary-color;
    &:hover, &:focus, &:active {
      color: $secondary-color;
      background-color: $white;
      -webkit-transform: translateZ(0) scale(1.2);
      -moz-transform: translateZ(0) scale(1.2);
      -ms-transform: translateZ(0) scale(1.2);
      -o-transform: translateZ(0) scale(1.2);
      transform: translateZ(0) scale(1.2);
    }
  }
}*/

#about {
  //margin-top: 150%;
  //@include breakpoint(medium) {
  //  margin-top: 350px;
  //}
  .thumbnail {
    float: left;
    margin: 0.4em 1.5em 0 0;
  }
}

#recommendations {
  .description {
    font-style: italic;
    color: $black;
    padding: 0.5em 0.5em 0;
  }
}

#tweets {
  /*hr {
    background-color: rgba(150,150,150,0.5);
  }*/
  .row.medium-up-2 {
    border-bottom: 1px solid $medium-gray;
  }
}

/*
#contact {
  .menu {
    li {
      a i{
        -webkit-transform: translateZ(0) scale(1) rotate3d(0, 0, 0, 0deg);
        -moz-transform: translateZ(0) scale(1) rotate3d(0, 0, 0, 0deg);
        -ms-transform: translateZ(0) scale(1) rotate3d(0, 0, 0, 0deg);
        -o-transform: translateZ(0) scale(1) rotate3d(0, 0, 0, 0deg);
        transform: translateZ(0) scale(1) rotate3d(0, 0, 0, 0deg);
        -webkit-transform-origin: 50%  51%;
        -webkit-transition: transform 1s ease;
        -moz-transition: transform 1s ease;
        -o-transition: transform 1s ease;
        transition: transform 1s ease;
      }
      a:hover i {
        -webkit-transform: translateZ(0) scale(1.5) rotate3d(10, 7, 5, 360deg);
        -moz-transform: translateZ(0) scale(1.5) rotate3d(10, 7, 5, 360deg);
        -ms-transform: translateZ(0) scale(1.5) rotate3d(10, 7, 5, 360deg);
        -o-transform: translateZ(0) scale(1.5) rotate3d(10, 7, 5, 360deg);
        transform: translateZ(0) scale(1.5) rotate3d(10, 7, 5, 360deg);
        -webkit-transform-origin: 50%  54%;
        -webkit-transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
      }
    }
  }
}
*/

#footer {
  background-color: $primary-color;
  color: $black;
  @include breakpoint(small only) {
    background-image: none;
  }
  @include breakpoint(medium) {
    background-size: auto 1200px;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: 50% -300px;
  }
  @include breakpoint(xlarge) {
    // because its cooler but needs performance.
    background-attachment: fixed;
    background-position: 50% -350px;
  }
}

#copyright {
  line-height: 100px;
  background-color: $secondary-color;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 90%;
  a:hover, a:focus, a:active {
    color: $primary-color;
  }
}

.expanded {
  padding-left: 0;
  padding-right: 0;
}

//.menu {
//  li {
//    a {
//      line-height: 36px;
//      #copyright & {
//        line-height: 36px;
//        @include breakpoint(medium) {
//          line-height: 48px;
//        }
//      }
//    }
//  }
//}

.frame {
  height: auto;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  .helper {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 400px;
  }
}

.social-buttons {
  a.button {
    font-size: 1.5em;
    //color: $black;
    background-color: transparent;
    -webkit-transform: translateZ(0) scale(1);
    -moz-transform: translateZ(0) scale(1);
    -ms-transform: translateZ(0) scale(1);
    -o-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    //border-radius: 50%;
    width: 1.6em;
    height: 1.5em;
    padding: 0.1em 0 0 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1.925em;
    &:hover, &:focus, &:active {
      //color: $white;
      //background-color: $black;
      -webkit-transform: translateZ(0) scale(1.5);
      -moz-transform: translateZ(0) scale(1.5);
      -ms-transform: translateZ(0) scale(1.5);
      -o-transform: translateZ(0) scale(1.5);
      transform: translateZ(0) scale(1.5);
    }
  }
}

[class*="fa-facebook"] {
  color: #3b5998 !important
}

[class*="fa-google"] {
  color: #dd4b39 !important
}

[class*="fa-linkedin"] {
  color: #007bb6 !important
}

[class*="fa-twitter"] {
  color: #00aced !important
}

[class*="fa-xing"] {
  color: #126567 !important
}

.bg-primary {
  background-color: $primary-color;
  color: $white;
}

.callout {
  border-right: 0;
  border-left: 0;
}

.tweet-actions {
  a {
    color: #bbb;
    background-color: transparent;
    i {
      color: inherit;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: #111;
      i {
        &.fa-heart {
          color: #E81C4F;
        }
        &.fa-retweet {
          color: #19CF86;
        }
        &.fa-reply {
          color: #AAB8C2;
        }
      }
    }
  }
}

input {
  line-height: initial;
  border: 1px solid transparent;
  border-bottom-color: #ddd;
  width: 100%;
  padding: 0.5em;
  box-shadow: none;
  -webkit-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -moz-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -o-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  &:focus {
    outline: 0;
    border-color: rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 5px rgb(202, 202, 202);
    -webkit-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -moz-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -o-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  }
}

textarea {
  min-height: 8em;
  border: 1px solid transparent;
  border-bottom-color: #ddd;
  box-shadow: none;
  outline: 0;
  background-color: #fefefe;
  &:focus {
    outline: 0;
  }
}

// milestones ----------------------------------------------------------------------------------------------------------
.frame-pos-t {
  position: relative;
}

.pos-t {
  position: relative;
  width: 100%;
  margin: 0 auto;
  //margin-top: 20px;
  list-style-type: none;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: $primary-color;
    z-index: 5;
  }
  li {
    padding: 1em 0;
    text-align: center;
    &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    &.pos-year {
      padding: 1em;
      background-color: rgb(255, 127, 80);
      z-index: 20;
      display: inline-block;
      position: relative;
      left: 50%;
      margin-left: -2.125em;
    }
  }
  .d-l, .d-r {
    position: relative;
    width: 50%;
    z-index: 15;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: transparent;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    &:hover, &:focus, &:active {
      background-color: rgba(10, 10, 10, 0.2);
    }
    .pos-wrapper {
      display: inline-block;
    }
    .pos {
      position: relative;
      display: inline;
      padding: 0 10px;
      font-weight: 600;
      text-align: left;
      &:before {
        position: absolute;
        top: 50%;
        right: -36px;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-top: -6px;
        background: $secondary-color;
        border-radius: 10px;
        border: 4px solid $secondary-color;
        z-index: 10;
      }
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-width: 8px;
        pointer-events: none;
      }
    }
    .pos-time-wrapper {
      .pos-time {
        color: $secondary-color;
      }
    }
  }
  .d-l {
    float: left;
    text-align: right;
    padding-right: 30px;
    .pos {
      &:after {
        left: 100%;
        border-left-color: $primary-color;
      }
    }
    .pos-time-wrapper {
      float: left;
    }
  }
  .d-r {
    float: right;
    text-align: left;
    padding-left: 30px;
    .pos {
      &:before {
        left: -36px;
      }
      &:after {
        right: 100%;
        border-right-color: $primary-color;
      }
    }
    .pos-time-wrapper {
      float: right;
    }
  }
  .desc {
    margin: 1em 0.75em 0 0.75em;
  }
}

@media screen and (max-width: 39.9375em) {
  .pos-t {
    width: 100%;
    li {
      padding: 2em 0;
    }
    .d-l, .d-r {
      width: 100%;
      float: none;
      text-align: center;
      padding: 0;
      background-color: $white;
      &:hover, &:focus, &:active {
        background-color: $white;
      }
      .pos {
        &:before {
          top: -10px;
          left: 50%;
          margin-left: -6px;
        }
        &:after {
          left: 50%;
          top: -8px;
          margin-left: -8px;
          border: solid transparent;
          border-bottom-color: rgb(255, 255, 255);
          border-width: 8px;
          pointer-events: none;
        }
      }
      .pos-time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
      }
    }
    .d-l {
      .pos-time-wrapper {
        float: none;
      }
    }
    .d-r {
      .pos-time-wrapper {
        float: none;
      }
    }
    .desc {
      position: relative;
      margin: 0;
      padding: 1em 0.5em 0;
      z-index: 15;
    }
  }
}

/*
li#menumagic {
  overflow: visible;
  height: 100px;
  & > a#top-control {
    width: 100%;
    right: 0;
    top: 0;
    text-align: right;
    height: 100px;
    line-height: 100px;
    color: $primary-color;
    padding: 0 1em;
  }
  &:hover ul#top-links {
    height: 380px;
    z-index: 100;
    margin: 0;
    width: 100%;
    left: 0;
  }
  &:focus ul#top-links {
    height: 0;
    width: 0;
  }
  ul#top-links {
    background-color: coral;
    display: block;
    height: 0;
    width: 0;
    position: relative;
    top: -1.625em;
    overflow: hidden;
    &.fold {
      height: 0 !important;
      width: 0;
    }
    li {
      a {
        text-align: center;
        &:hover,
        &:focus,
        &:active {
          color: $primary-color;
        }
      }
    }
  }
}
// ToDo: Should be combined with upper decleration ... nightly build chaos.
#frame-top {
  z-index: 3;
  height: 100px;
  background-color: $white;
  * {
    -webkit-transform: translateZ(0) scale(1);
    -moz-transform: translateZ(0) scale(1);
    -ms-transform: translateZ(0) scale(1);
    -o-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #top {
    //position: fixed;
    box-shadow: 0 0 10px transparent;
    background-color: $white;
    display: block;
    z-index: 100;
    top: 0;
    left: 0;
    border-bottom: none;
    height: 100px;
    & > div {
      margin-left: auto;
      margin-right: auto;
    }
    #logo {
      display: block;
      height: 100px;
      width: 200px;
      float: left;
      background-size: 200px 100px;
    }
    &.expanded {
      position: fixed;
      height: 50px;
      box-shadow: 0 0 10px $dark-gray;
      #logo {
        height: 50px;
        width: 100px;
        background-size: 100px 50px;
      }
      li#menumagic {
        height: 50px;
        a#top-control {
          height: 50px;
          //transform: none;
          line-height: 50px;
          &:hover,
          &:focus {
            //transform: none;
            right: 0;
          }
        }
        ul#top-links {
          top: 50px;
          position: fixed;
        }
      }
    }
  }
}

// ToDo: move from here to declaration with @include breakpoint(large) !
@media screen and (min-width: 64em) {
  #frame-top {
    #top {
      #logo {
        margin-left: 1em;
      }
      li#menumagic {
        float: right;
        margin: 0 auto;
        ul#top-links {
          background: transparent;
          position: relative !important;
          height: auto;
          display: inline-block;
          left: 0;
          top: -1em;
          width: 100%;
          a {
            line-height: 80px;
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;
          }
          &.fold {
            height: auto !important;
          }
        }
      }
      &.expanded {
        li#menumagic ul#top-links {
          top: -1.625em;
          a {
            line-height: 50px;
          }
        }
      }
    }
  }
}
*/
