.icon-48-text { background-image: url('../images/48-text.png'); background-repeat: no-repeat; }

.icon-achim-galeski_logo { background-image: url('../images/achim-galeski_logo.png'); background-repeat: no-repeat; }

.icon-achim-galeski_profil_400 { background-image: url('../images/achim-galeski_profil_400.png'); background-repeat: no-repeat; }

.icon-bars { background-image: url('../images/bars.png'); background-repeat: no-repeat; }

.icon-bitbucket-square { background-image: url('../images/bitbucket-square.png'); background-repeat: no-repeat; }

.icon-calendar-check-o { background-image: url('../images/calendar-check-o.png'); background-repeat: no-repeat; }

.icon-cloud-upload { background-image: url('../images/cloud-upload.png'); background-repeat: no-repeat; }

.icon-cogs { background-image: url('../images/cogs.png'); background-repeat: no-repeat; }

.icon-comments-o { background-image: url('../images/comments-o.png'); background-repeat: no-repeat; }

.icon-envelope-square { background-image: url('../images/envelope-square.png'); background-repeat: no-repeat; }

.icon-external-link-square { background-image: url('../images/external-link-square.png'); background-repeat: no-repeat; }

.icon-facebook-square { background-image: url('../images/facebook-square.png'); background-repeat: no-repeat; }

.icon-file-code-o { background-image: url('../images/file-code-o.png'); background-repeat: no-repeat; }

.icon-git-square { background-image: url('../images/git-square.png'); background-repeat: no-repeat; }

.icon-github-square { background-image: url('../images/github-square.png'); background-repeat: no-repeat; }

.icon-google-plus-square { background-image: url('../images/google-plus-square.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('../images/home.png'); background-repeat: no-repeat; }

.icon-horizon_cyan { background-image: url('../images/horizon_cyan.png'); background-repeat: no-repeat; }

.icon-linkedin-square { background-image: url('../images/linkedin-square.png'); background-repeat: no-repeat; }

.icon-tumblr-square { background-image: url('../images/tumblr-square.png'); background-repeat: no-repeat; }

.icon-twitter-square { background-image: url('../images/twitter-square.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('../images/twitter.png'); background-repeat: no-repeat; }

.icon-users { background-image: url('../images/users.png'); background-repeat: no-repeat; }

.icon-xing-square { background-image: url('../images/xing-square.png'); background-repeat: no-repeat; }

